- title @bookmark.title

= content_for :breadcrumbs do
  %li= link_to 'Bookmarks', bookmarks_path
  %li= @bookmark.title
  
= content_for :actions do
  - if can? :edit, @bookmark
    %li= link_to 'Edit', edit_bookmark_path(@bookmark), :class => 'editleft'
    %li= link_to 'Back', bookmarks_path, :class => 'backleft'
  
%p#notice
  
%h1.bookmarks.float_left= @bookmark.title

%ul.sosumi.float_right
  %li
    Bookmarked :
    = "<strong>#{@bookmark.created_at.to_s(:long)}</strong>".html_safe
    By 
    = "<strong>#{@bookmark.user.full_name}</strong>".html_safe
.clearer

%h3= @bookmark.url

#vote.float_right
  = pluralize(@bookmark.votes, 'Vote')
  - unless !current_user || @bookmark.user_id == current_user.id || current_user.voted?(@bookmark)
    = image_tag 'up_vote.png', :value => @bookmark.id, :class => 'up_vote'
    
#share.float_right
  = tweet_button(:text => @bookmark.title)
  = facebook_like

%br

- if @url_status == true
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site.png'
- else
  = link_to @bookmark.url do
    = image_tag '/images/buttons/btn_go_to_site_red.png'

%h2.bookmarks.section{:style => 'margin:50px 0 20px 0;'}
%h2.bookmarks.section
  Topics
  %span{:style => 'float:right; font-size:12px;'}
    - if can? :add_topic, @bookmark
      %a{:href => "#topic-form", :rel => "fancybox", :class => "addleft add-topic-link"} Add
    - if can? :remove_topic, @bookmark
      %a{:href => "#remove-topic-form", :rel => "fancybox", :class => "removeleft remove-topic-link"} Remove
    
#topics
  - if ! @bookmark.topic_list.blank?
    - @bookmark.topic_list.each do |topic|
      %span= topic
  - else
    %p.sosumi No topics tagged
.clearer

%div{:style => 'display: none;'}
  #topic-form
    %h2.bookmarks Add Topic
    %p.sosumi Separate multiple topics with commas (ex: A, B, C)
    = form_tag (bookmark_add_topic_path(@bookmark)), :remote => true do
      = text_field_tag :topic
      = submit_tag

%div{:style => 'display: none;'}
  #remove-topic-form
    %h2.bookmarks Remove Topic
    %p.sosumi Click to remove a topic
    = form_tag (bookmark_remove_topic_path(@bookmark)), :id => 'remove_topic_form', :remote => true do
      = text_field_tag :remove_topic
      - @bookmark.topic_list.each do |topic|
        %span= topic
    .clearer

%h2.bookmarks.section{:style => 'margin:50px 0 20px 0;'}
%h2.bookmarks.section
  Rails Versions
  %span{:style => 'float:right; font-size:12px;'}
    - if can? :add_rails_version, @bookmark
      = link_to 'Add', '#rails-version-list', {:rel => 'fancybox', :class => 'addleft'}
    - if can? :remove_rails_version, @bookmark
      %a{:href => "#remove-rails-version-form", :rel => "fancybox", :class => "removeleft remove-rails-version-link"} Remove
     
#rails-versions
  - if ! @bookmark.rails_version_list.blank?
    - @bookmark.rails_version_list.each do |rails_version|
      %span= rails_version
  - else
    %p.sosumi No rails versions tagged
.clearer

%div{:style => 'display: none;'}
  #rails-version-list{:style => 'width:820px; height:550px; padding:10px 30px 20px 20px;'}
    %h2.bookmarks Add Rails Version
    = form_tag bookmark_add_rails_version_path(@bookmark), :id => 'add_rails_version_form', :remote => true do
      - active_version = rails_versions.last[0]
      %h2.bookmarks= "Rails #{active_version}"
      %ul
        - rails_versions.reverse.each do |version|
          - if version[0] != active_version
            - active_version = version[0]
            %h2.bookmarks= active_version.to_i > 0 ? "Rails #{active_version}" : "Rails"
            %ul
          %li.version_check_box
            = check_box_tag("rails_versions[]", version)
            = version
      = submit_tag
      
%div{:style => 'display: none;'}
  #remove-rails-version-form
    %h2.bookmarks Remove Rails Verison
    %p.sosumi Click to remove a Rails version
    = form_tag (bookmark_remove_rails_version_path(@bookmark)), :id => 'remove_rails_version_form', :remote => true do
      = text_field_tag :remove_rails_version
      - @bookmark.rails_version_list.each do |version|
        %span= version
    .clearer
  
%h2.bookmarks.section{:style => 'margin:50px 0 20px 0;'}
%h2.bookmarks.section
  Ruby Versions
  %span{:style => 'float:right; font-size:12px;'}
    - if can? :add_ruby_version, @bookmark
      %a{:href => "#ruby_version_form", :rel => "fancybox", :class => "addleft add-ruby-link"} Add
    - if can? :remove_ruby_version, @bookmark
      %a{:href => "#remove-ruby-version-form", :rel => "fancybox", :class => "removeleft remove-ruby-version-link"} Remove
    
#ruby-versions
  - if ! @bookmark.ruby_version_list.blank?
    - @bookmark.ruby_version_list.each do |ruby_version|
      %span= ruby_version
  - else
    %p.sosumi No ruby versions tagged
.clearer

%div{:style => 'display:none;'}
  #ruby_version_form
    %h2.bookmarks Add Ruby Version
    = form_tag bookmark_add_ruby_version_path(@bookmark), :remote => true do
      = text_field_tag :ruby_version
      = submit_tag
    %p.sosumi Separate multiple versions with commas (ex: 1.8.6, 1.8.7, 1.9.2-p0, 1.9.2)

%div{:style => 'display: none;'}
  #remove-ruby-version-form
    %h2.bookmarks Remove Ruby Verison
    %p.sosumi Click to remove a Ruby version
    = form_tag (bookmark_remove_ruby_version_path(@bookmark)), :id => 'remove_ruby_version_form', :remote => true do
      = text_field_tag :remove_ruby_version
      - @bookmark.ruby_version_list.each do |version|
        %span= version
    .clearer

%h2.bookmarks.section{:style => 'margin:50px 0 20px 0;'} 
%h2.bookmarks.section Comments

#comments
  - if ! @bookmark.comments.blank?
    - @bookmark.comments.each do |comment|
      = render 'comment', :comment => comment
  - else
    %p.sosumi No comments have been added

%br/
- if can? :create, @comment
  - if current_user
    #comment_form
      = form_for [@bookmark, Comment.new] do |f|
        %p
          = f.label :body, "Comment"
          %p
          = f.text_area :body, :cols => '120', :rows => '10', :class => 'comment-field'
          %p.float_right
          = image_submit_tag '/images/buttons/add_comment.png'
          .clearer
          %br/
