= form_for @event do |form|
  = form.error_messages

  %p
    = form.label :topic, "Event Topic"
    %br/
    = form.text_field :topic 
    %br/
  %p
    = form.label :speaker, "Speaker's Name"
    %br/
    = form.text_field :speaker
    %br/
  %p
    = form.label :description, "Event Description"
    %br/
    = form.text_area :description, :rows => 10, :col => 10
    %br/
  %p
    = form.label :seat_count, "Number of Seats"
    %br/
    = form.text_field :seat_count, :size => 4
    %br/
  %p
    = form.label :event_date, "Event Date"
    %br/
    = form.date_select :event_date,:order => [:month, :day, :year]
    %br/
  %p
    = form.label :start_time, "Event Start Time"
    %br/
    = form.time_select :start_time
    %br/
  %p
    = form.label :end_time, "Event End Time"
    %br/
    = form.time_select :end_time
    %br/
  %p
    =form.submit
