!!!
%html
  %head
    %title
      Rubunity
      = "- " + yield(:title) unless !:title
    = stylesheet_link_tag 'application', 'bookmarks', 'facebox', 'fancybox'
    = javascript_include_tag :defaults, 'fancybox', 'easing'
    = csrf_meta_tag

  %body  
    #header
      .header_holder
        .logo
        = render 'layouts/sessioninfo'
        #nav
          = render 'layouts/gnav'
        .divider
    #toolbar
      %ul#breadcrumbs
        %li#home= link_to '&nbsp;'.html_safe, '/'
        = yield :breadcrumbs
      %ul#actions
        = yield :actions
      .clearer
    #content
      .content_holder
        = yield
    #footer_bottom
      .holder
        .copy
          Copyright ©
          = succeed "." do
            %a{:href => "http://rubunity.com"} Rubuntity
          All Rights Reserved.
        .links
          %ul
            = render 'layouts/gnav'
        %div{:style => "clear:both;"}
    
    = render '/layouts/analytics' if Rails.env.production?