!!!
%html
  %head  
    %title
      Rubunity
      = "- " + yield(:title) unless !:title
    = stylesheet_link_tag 'application', 'home'
    = javascript_include_tag :defaults, 'facebox', 'fancybox'
    = csrf_meta_tag
    
  %body
    = yield

    = render '/layouts/footer'
    
    = render '/layouts/analytics' if Rails.env.production?